@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

.ant-popover-inner-content {
    padding: 0 !important;
}

body, div {
    scrollbar-base-color: #e1e1e1;scrollbar-3dlight-color: #e8e8e8;
    scrollbar-arrow-color: #158eb7;scrollbar-darkshadow-color: #e1e1e1;
    scrollbar-face-color: #e8e8e8;scrollbar-highlight-color: #e8e8e8;scrollbar-shadow-color: #e8e8e8;scrollbar-track-color: #f2f2f2;
}

div::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb {
    border: 3px solid #fbfbfb;
    background-color: #e8e8e8;
}

::-webkit-scrollbar-thumb:hover {
    border: 3px solid #fbfbfb;
    background-color: #0563DB;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-track {
    background-color: #fbfbfb;
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    border-left: 1px solid #d2d2d2;
}

::-webkit-scrollbar-button:start:decrement {
    display: block;
}

::-webkit-scrollbar-button:end:increment {
    display: block;
}

::-webkit-scrollbar-button:hover {
    background-color: #cecece;
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAI0lEQVR4XmNgTb79E4j/Y8MMIIBNAVgCBpAVoEjAAEgBMh8AngIkCUurGJsAAAAASUVORK5CYII=");
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAIklEQVR4XmNgQAKsybd/IvPhACjxH4pRFSBJoCrAIgFXAACBTyQJSw2h9gAAAABJRU5ErkJggg==");
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAKElEQVR4XmNgTb79nwEZgARQBGECcEFkASD+iSzwE1kFhAMVQHCAAACicyQJoiYR8gAAAABJRU5ErkJggg==");
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAHCAYAAAAvZezQAAAAJElEQVR4XmNgQAKsybd/onCA+D8KByyAzEFWgSqALAgXgAkCAOj8JAm43/K9AAAAAElFTkSuQmCC");
}

::-webkit-scrollbar-button:vertical:increment,::-webkit-scrollbar-button:vertical:decrement,::-webkit-scrollbar-button:horizontal:increment,::-webkit-scrollbar-button:horizontal:decrement {
    background-position: center;
}

::-webkit-scrollbar-button,::-webkit-scrollbar-corner {
    width: 14px;
    height: 15px;
    background-color: #ebebeb;
    border: 1px solid #d2d2d2;
}

/** react-grid-layout 样式 **/
.react-grid-item .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
}
.react-grid-item .react-resizable-handle::after {
    content: "";
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.react-resizable-hide .react-resizable-handle {
    display: none;
}
.react-grid-item .react-resizable-handle.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
/** end react-grid-layout 样式 **/

/** 重置antd 样式 */
.ant-tooltip .ant-tooltip-inner {
    background-color: #fff;
    color: #000;
}
.ant-tooltip-arrow-content::before {
    background: #fff !important;
}
/**end 重置antd 样式 */